@import "../../css/colors.css";

.news {
    background: $motion-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 0.6rem 0;
    font-family: system-ui, "Segoe UI", sans-serif;
}

.body {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.body a {
    color: white;
    text-decoration: underline;
}

.closeButton {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
